<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SVGSecureStore.Properties.Settings.SVGSecureStoreConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\SVGSecureStore.mdb"
            providerName="System.Data.OleDb" />
        <add name="SVGSecureStore.Properties.Settings.SVGSecureStoreConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Asus Administrator\Documents\Visual Studio 2010\Projects\DataTable Display Test\DataTable Display Test\bin\Debug\SVGSecureStore.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>